name: test

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v2
        
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@master
      with:
        install: true
        
    - name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        # Key is named differently to avoid collision
        key: ${{ runner.os }}-hehe-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx

    - name: Build production image
      run: |
        buildctl build --export-cache type=local,dest=/tmp/.buildx-cache
        buildctl build --import-cache type=local,src=/tmp/.buildx-cache-new
        docker buildx build --target production --load -t ${{ steps.prep.outputs.tagged_image }}  --cache-from=type=local,src=/tmp/.buildx-cache --cache-to=type=local,mode=max,dest=/tmp/.buildx-cache-new .
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache
