on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:    
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: 'write'
      id-token: 'write'
      
    steps:
      # your build steps here
      - name: Checkout Services
        uses: actions/checkout@v3
        with: 
          repository: haomapu/trigger
          ref: main
          path: ./
      - name: Trigger downstream workflow
        uses: haomapu/trigger@main
        with:
          app_name: haomapu
          username: 123
          password: 321
#   deploy:
#     runs-on: ubuntu-latest
#     permissions:
#       contents: 'write'
#       id-token: 'write'

#     steps:
#       # your build steps here
#       - name: Checkout Services
#         uses: actions/checkout@v3
        
#       - name: Trigger downstream workflow
#         uses: haomapu/trigger@main
