on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:    
      - 'main'

permission:
  read

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: 'write'
      id-token: 'write'
      
    steps:
      # your build steps here
      - name: Trigger downstream workflow
        uses: haomapu/trigger/setup-trigger@main
        with:
          app_name: haomapu
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: $ {{ secrets.DOCKERHUB_TOKEN }}
          
