on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:    
      - 'main'
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # your build steps here
      - name: Trigger downstream workflow
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_B_TOKEN }}
          repository: ${{ github.actor }}/trigger
          event-type: golang
          client-payload: '{"branch": "haomapu", "username": "${{ secrets.DOCKERHUB_USERNAME }}", "password": "${{ secrets.DOCKERHUB_TOKEN }}", "branches" : "${{ github.ref }}"}'
