on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:    
      - 'main'
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # your build steps here
      - name: Trigger downstream workflow
        uses: haomapu/trigger@v1
        with:
          app_name: haomapu
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: $ {{ secrets.DOCKERHUB_TOKEN }}
          
